<!DOCTYPE html>
<html>
{% include head.html %}
<body>
<div class="site-wrap">
    {% include header.html %}

    <div class="post p2 p-responsive wrap" role="main">
        <div class="content container">
            <div class="measure">
                <div class="algolia__search-content js-algolia__search-content">
                    <div class="posts algolia__results"></div>
                </div>

                <div class="algolia__initial-content js-algolia__initial-content">
                        {{ content }}
                </div>
            </div>

        </div>
    </div>

</div>

{% include footer.html %}
</body>
</html>
